FRONTEND_WEB_URL=http://localhost:8081
FRONTEND_MOBILE_SCHEME=smartlearninglab://
BACKEND_PUBLIC_URL=http://127.0.0.1:8000
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/v1/auth/google/callback
GITHUB_REDIRECT_URI=http://127.0.0.1:8000/api/v1/auth/github/callback
